//# Fonts
$font-roboto:                 'Roboto', sans-serif;

//= Font weight
$roboto-light:                300;
$roboto-regular:              400;
$roboto-medium:               500;
$roboto-bold:                 700;

// Colors
$white:                     #ffffff;
$black:                     #000000;
$light:                     #c4c4c4;
$dark-grey:                 #454545;
$blue:                      #009edb;
$blue2:                     #007fb0;
$blue3:                     #006e99;
$blue4:                     #EDF8FC;
