form.workflows-ui-form {
  border-top: rem-calc(1) solid $light;
  margin-top: rem-calc(36);
  padding-top: rem-calc(30);
  position: relative;

  .buttons {
    margin: rem-calc(-100 0 50);
    text-align: right;
  }

  label {
    color: $dark-grey;
    font-family: $font-roboto;
    font-size: rem-calc(16);
    font-weight: $roboto-bold;
    margin: 0;
  }

  .input-form-container {
    max-width: rem-calc(400);
    input,
    textarea {
      background-color: $white;
      width: 100%;
    }
  }
  input[type=submit] {
    margin: rem-calc(50 0 -150);
  }

  label[for=edit-json-data] {
    margin-top: rem-calc(200);
  }

  #edit-submit {
    display: none;
  }
}


.workflow-interface {
  background: white;
  border: 1px solid #007fb0;
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);
  min-height: rem-calc(500);

  .task {
    background-color: $blue2;
    cursor: move;
    display: flex;
    height: rem-calc(40);
    padding: rem-calc(6 15);
    position: absolute;
  }

  .button {
    text-align: center;
    border: rem-calc(1) solid;
    margin: rem-calc(5);
    &:hover {
      cursor: pointer;
    }
  }

  .button_remove {
    cursor: pointer;
  }

  .ctrl_container {
    margin: rem-calc(0 0 0 10.5);
  }

  .detail_label {
    color: grey;
    font-size: 9pt;
  }

  .detail_text {
    background-color: $blue2;
    color: $white;
    font-family: $font-roboto;
    font-size: rem-calc(14);
    font-weight: $roboto-medium;
    line-height: rem-calc(20);
    min-height: rem-calc(25);
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: rem-calc(120);
    white-space: nowrap;
    &:focus {
      background-color: $white;
      color: $black;
      outline: none;
    }
  }

}

// ENDPOINTS
// Start and Endpoint.
#startpoint, #endpoint {
  border: rem-calc(1) solid #007fb0;
  cursor: move;
  margin: rem-calc(5);
  padding: 0 rem-calc(5);
  position: absolute;
}

// Start Anchor.
.jtk-endpoint circle {
  cursor: pointer;
  fill: rgb(40, 167, 1);
}
// End Anchor.
.jtk-endpoint rect {
  cursor: pointer;
  fill: rgb(255, 0, 0);
}
