{# Display the buttons #}
<div class="buttons">
  <button class="btn btn-primary" id="addTask">{{ 'Add new state'|t }}</button>
</div>

{# Display the form #}
{{ form }}

{# Display drawingArea #}
<section class="workflow-interface">
  {#<textarea id="jsonOutput" style="width:100%;height:100px;"></textarea>#}
  <div id="drawingArea" style="width:100%;min-height:120px;">
    <div class="startpoint point window node" style="left:0; top:160px" data-nodetype="startpoint" id="startpoint">Start</div>
    {# Draft #}
    <div class="draft window task node" style="left: 220px; top:160px;" data-nodetype="default" id="draft">
      <div class="details_container">
        <input value="Draft" class="detail_text"/>
      </div>
    </div>
    {# Published #}
    <div class="published window task node" style="left: 820px; top:160px;" data-nodetype="default" id="published">
      <div class="details_container">
        <input value="Published" class="detail_text"/>
      </div>
    </div>
    <div class="window task" style="left: 120px; top:160px; display:none;" data-nodetype="task" id="taskcontainer0">
      <div class="details_container">
        <input value="" class="detail_text"/>
      </div>
      <div class="ctrl_container">
        <div class="button_remove" data-confirm="Do you want to remove this state?">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="🔹UN-Workspace" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Workflow-edit" transform="translate(-343.000000, -348.000000)" fill="#FFFFFF">
                      <g id="Chips/Large/Icon-R" transform="translate(264.000000, 333.000000)">
                          <g id="▶︎-Icon" transform="translate(78.000000, 14.000000)">
                              <path d="M10.2251351,1.75253869 C10.5603691,2.07621296 10.5901066,2.59720894 10.308035,2.9557084 L10.2474613,3.02513506 L7.25099913,6.12799913 L10.2474613,9.23200779 L10.308035,9.30143445 C10.5901066,9.65993392 10.5603691,10.1809299 10.2251351,10.5046042 C9.86755205,10.8498567 9.29779125,10.8398609 8.95253869,10.4822779 L8.95253869,10.4822779 L5.99999913,7.42399913 L3.04746131,10.4822779 C2.70220875,10.8398609 2.13244795,10.8498567 1.77486494,10.5046042 C1.43963087,10.1809299 1.40989336,9.65993392 1.69196503,9.30143445 L1.75253869,9.23200779 L4.74799913,6.12799913 L1.75253869,3.02513506 L1.69196503,2.9557084 C1.40989336,2.59720894 1.43963087,2.07621296 1.77486494,1.75253869 C2.13244795,1.40728612 2.70220875,1.41728193 3.04746131,1.77486494 L3.04746131,1.77486494 L5.99999913,4.83199913 L8.95253869,1.77486494 C9.29779125,1.41728193 9.86755205,1.40728612 10.2251351,1.75253869 Z" id="🟧-Color"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="endpoint point window node" style="left:1350px; top:160px" data-nodetype="endpoint" id="endpoint">End</div>
  </div>
</section>

<button type="button" id="custom_wf_submit" class="btn btn-primary">{{ 'Save'|t }}</button>

{{ attach_library('workflows_ui/interface-style') }}
